<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.unlam.soa.controldeluces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SensorActivity" android:label="@string/sensorActivityName"/>
        <activity android:name=".PaletaActivity" android:label="@string/paletaActivityName"/>
        <activity android:name=".AlarmaActivity" android:label="@string/alarmaActivityName"/>
        <activity android:name=".SensoresActivity" android:label="@string/sensoresActivityName"/>
    </application>

</manifest>